.gradient-custom-2[b-r4crfvof5f] {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form[b-r4crfvof5f] {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2[b-r4crfvof5f] {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
